<!-- Begin Hiraola's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
      <div class="breadcrumb-content">
          <h2>Shop</h2>
          <ul>
              <li><a href="index.html">Home</a></li>
              <li class="active">Thương Hiệu</li>
          </ul>
      </div>
  </div>
</div>
<!-- Hiraola's Breadcrumb Area End Here -->

<!-- Begin Hiraola's Content Wrapper Area -->
<div class="hiraola-content_wrapper">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 order-2 order-lg-1">
              <div class="hiraola-sidebar-catagories_area">

                  <div class="hiraola-sidebar_categories">
                      <div class="hiraola-categories_title">
                          <h5>Thương Hiệu</h5>
                      </div>
                      <ul class="sidebar-checkbox_list">
                        <ng-container *ngFor="let m of mn.children">
                          <li>
                              <a [routerLink]="['/product/list-brand',m.brand_id]">{{m.brand_name}}</a>
                          </li>
                        </ng-container>
                      </ul>
                  </div>
              </div>
          </div>

          <!-- ds theo loại -->
          <div class="col-lg-9 order-1 order-lg-2">
              <div class="shop-toolbar">
                  <div class="product-view-mode">
                      <a class="active grid-3" data-target="gridview-3" data-toggle="tooltip" data-placement="top" title="Grid View"><i class="fa fa-th"></i></a>
                      <a class="list" data-target="listview" data-toggle="tooltip" data-placement="top" title="List View"><i class="fa fa-th-list"></i></a>
                  </div>
                  <div class="product-item-selection_area">
                      <div class="product-short">
                          <label class="select-label">Short By:</label>
                          <select class="nice-select">
                              <option value="1">Relevance</option>
                              <option value="2">Name, A to Z</option>
                              <option value="3">Name, Z to A</option>
                              <option value="4">Price, low to high</option>
                              <option value="5">Price, high to low</option>
                              <option value="5">Rating (Highest)</option>
                              <option value="5">Rating (Lowest)</option>
                              <option value="5">Model (A - Z)</option>
                              <option value="5">Model (Z - A)</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="shop-product-wrap grid gridview-3 row">
                <ng-container *ngFor="let item of list_brand">
                  <div class="col-lg-4">
                      <div class="slide-item">
                          <div class="single_product">
                              <div class="product-img">
                                  <a href="single-product.html">
                                      <img class="primary-img" src="assets/images/product/{{item.product_image}}" alt="Cosmetic Product Image">
                                      <!-- <img class="secondary-img" src="assets/images/product/medium-size/1-8.jpg" alt="Hiraola's Product Image"> -->
                                  </a>
                                  <div class="add-actions">
                                      <ul>
                                          <li><a class="hiraola-add_cart" (click)="addToCart(item)" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                          </li>
                                          <li><a class="hiraola-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                                  class="ion-ios-shuffle-strong"></i></a>
                                          </li>
                                          <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                  class="ion-eye"></i></a></li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="hiraola-product_content">
                                  <div class="product-desc_info">
                                      <h6><a class="product-name" href="single-product.html">{{item.product_name}}</a></h6>
                                      <div class="price-box">
                                          <span class="new-price">{{item.product_price}}</span>
                                      </div>
                                      <div class="additional-add_action">
                                          <ul>
                                              <li><a class="hiraola-add_compare" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                                      class="ion-android-favorite-outline"></i></a>
                                              </li>
                                          </ul>
                                      </div>
                                      <div class="rating-box">
                                          <ul>
                                              <li><i class="fa fa-star-of-david"></i></li>
                                              <li><i class="fa fa-star-of-david"></i></li>
                                              <li><i class="fa fa-star-of-david"></i></li>
                                              <li><i class="fa fa-star-of-david"></i></li>
                                              <li class="silver-color"><i class="fa fa-star-of-david"></i></li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="list-slide_item">
                          <div class="single_product">
                              <div class="product-img">
                                  <a href="single-product.html">
                                      <img class="primary-img" src="assets/images/product/{{item.product_image}}" alt="Hiraola's Product Image">
                                      <!-- <img class="secondary-img" src="assets/images/product/medium-size/1-8.jpg" alt="Hiraola's Product Image"> -->
                                  </a>
                              </div>
                              <div class="hiraola-product_content">
                                  <div class="product-desc_info">
                                      <h6><a class="product-name" href="single-product.html">{{item.product_name}}</a></h6>
                                      <div class="rating-box">
                                          <ul>
                                              <li><i class="fa fa-star-of-david"></i></li>
                                              <li><i class="fa fa-star-of-david"></i></li>
                                              <li><i class="fa fa-star-of-david"></i></li>
                                              <li><i class="fa fa-star-of-david"></i></li>
                                              <li class="silver-color"><i class="fa fa-star-of-david"></i></li>
                                          </ul>
                                      </div>
                                      <div class="price-box">
                                          <span class="new-price">{{item.product_price}}</span>
                                      </div>
                                      <div class="product-short_desc">
                                          <p>{{item.product_desc}}</p>
                                      </div>
                                  </div>
                                  <div class="add-actions">
                                      <ul>
                                          <li><a class="hiraola-add_cart" (click)="addToCart(item)" data-toggle="tooltip" data-placement="top" title="Add To Cart">Add To Cart</a></li>
                                          <li><a class="hiraola-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                                  class="ion-ios-shuffle-strong"></i></a></li>
                                          <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                                  class="ion-eye"></i></a></li>
                                          <li><a class="hiraola-add_compare" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                                  class="ion-android-favorite-outline"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                </ng-container>

              </div>
              <div class="row">
                  <div class="col-lg-12">
                      <div class="hiraola-paginatoin-area">
                          <div class="row">
                              <div class="col-lg-6 col-md-6 col-sm-6">
                                  <ul class="hiraola-pagination-box">
                                      <li class="active"><a href="javascript:void(0)">1</a></li>
                                      <li><a href="javascript:void(0)">2</a></li>
                                      <li><a href="javascript:void(0)">3</a></li>
                                      <li><a class="Next" href="javascript:void(0)"><i
                                              class="ion-ios-arrow-right"></i></a></li>
                                      <li><a class="Next" href="javascript:void(0)">>|</a></li>
                                  </ul>
                              </div>
                              <!-- <div class="col-lg-6 col-md-6 col-sm-6">
                                  <div class="product-select-box">
                                      <div class="product-short">
                                          <p>Showing 1 to 12 of 18 (2 Pages)</p>
                                      </div>
                                  </div>
                              </div> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Hiraola's Content Wrapper Area End Here -->
<p>list-brand works!</p>
