 <!-- Begin Hiraola's Breadcrumb Area -->
 <div class="breadcrumb-area">
  <div class="container">
      <div class="breadcrumb-content">
          <ul>
              <li><a href="index.html">Home</a></li>
              <li>Giỏ Hàng</li>
          </ul>
      </div>
  </div>
</div>
<!-- Hiraola's Breadcrumb Area End Here -->

<div class="hiraola-cart-area">
  <div class="container">
      <div class="row">
          <div class="col-12">

                  <div class="table-content">
                      <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th>Xoá</th>
                                  <th>Hình Ảnh</th>
                                  <th>Sản Phẩm</th>
                                  <th>Đơn Giá</th>
                                  <th>Số Lượng</th>
                                  <th>Thành Tiền</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let c of items">
                                  <td><a title="Remove item" (click)="_cart.deleteItem(c.product_id)"><i class="fa fa-trash"
                                      title="Remove"></i></a></td>
                                  <td><a><img src="assets/images/product/{{c.product_image}}" width="100px" height="115px"></a></td>
                                  <td><a>{{c.product_name}}</a></td>
                                  <td><span class="amount">{{c.product_price | currency:"VND"}}</span></td>
                                  <td class="quantity">
                                      <label>Quantity</label>
                                      <div class="cart_quantity_button">
                                        <input class="cary_quantity_input" name="qtybutton" #inp  min="1" max="100" (change)="addQty(c,inp.value)" [value]="c.quantity" type="number">
                                      </div>
                                  </td>
                                  <td class="product-subtotal"><span class="amount">{{ c.money | currency:"VND"}}</span></td>
                              </tr>

                          </tbody>
                      </table>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <div class="coupon-all">
                              <div class="coupon">
                                  <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                  <input class="button" name="apply_coupon" value="Apply coupon" type="submit">
                              </div>
                              <div class="coupon2">
                                  <input class="button" name="update_cart" value="Update cart" type="submit">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-md-5 ml-auto">
                          <div class="cart-page-total">
                              <h2>Tổng Tiền</h2>
                              <ul>
                                  <li>Subtotal <span>{{total | currency:"VND"}}</span></li>
                                  <li>Total <span>{{total | currency:"VND"}}</span></li>
                              </ul>
                              <a routerLink="/customer/checkout"><button class="button btn-proceed-checkout" type="button"><span>Thanh Toán</span></button></a>
                          </div>
                      </div>
                  </div>

          </div>
      </div>
  </div>
</div>

