<!-- Begin Hiraola's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
      <div class="breadcrumb-content">
          <h2>Thông tin chi tiết sản phẩm</h2>
          <ul>
              <li><a href="index.html">Home</a></li>
              <li class="active">Detail Product</li>
          </ul>
      </div>
  </div>
</div>
<!-- Hiraola's Breadcrumb Area End Here -->

<!-- Begin Hiraola's Single Product Area -->
<div class="sp-area">
  <div class="container">
      <div class="sp-nav">
          <div class="row">
              <div class="col-lg-5 col-md-5">
                  <div class="sp-img_area">
                      <div class="zoompro-border">
                          <img class="zoompro" src="assets/images/product/{{item.product_image}}" data-zoom-image="assets/images/single-product/large-size/1.jpg" alt="Hiraola's Product Image" />
                      </div>
                      <!-- <div id="gallery" class="sp-img_slider">
                          <a class="active" data-image="assets/images/single-product/large-size/1.jpg" data-zoom-image="assets/images/single-product/large-size/1.jpg">
                              <img src="assets/images/single-product/small-size/1.jpg" alt="Hiraola's Product Image">
                          </a>
                          <a data-image="assets/images/single-product/large-size/2.jpg" data-zoom-image="assets/images/single-product/large-size/2.jpg">
                              <img src="assets/images/single-product/small-size/2.jpg" alt="Hiraola's Product Image">
                          </a>
                          <a data-image="assets/images/single-product/large-size/3.jpg" data-zoom-image="assets/images/single-product/large-size/3.jpg">
                              <img src="assets/images/single-product/small-size/3.jpg" alt="Hiraola's Product Image">
                          </a>
                          <a data-image="assets/images/single-product/large-size/4.jpg" data-zoom-image="assets/images/single-product/large-size/4.jpg">
                              <img src="assets/images/single-product/small-size/4.jpg" alt="Hiraola's Product Image">
                          </a>
                          <a data-image="assets/images/single-product/large-size/5.jpg" data-zoom-image="assets/images/single-product/large-size/5.jpg">
                              <img src="assets/images/single-product/small-size/5.jpg" alt="Hiraola's Product Image">
                          </a>
                          <a data-image="assets/images/single-product/large-size/6.jpg" data-zoom-image="assets/images/single-product/large-size/6.jpg">
                              <img src="assets/images/single-product/small-size/6.jpg" alt="Hiraola's Product Image">
                          </a>
                      </div> -->
                  </div>
              </div>
              <div class="col-lg-7 col-md-7">
                  <div class="sp-content">
                      <div class="sp-heading">
                          <h5><a href="#">{{item.product_name}}</a></h5>
                      </div>
                      <span class="reference">Reference: demo_1</span>
                      <div class="rating-box">
                          <ul>
                              <li><i class="fa fa-star-of-david"></i></li>
                              <li><i class="fa fa-star-of-david"></i></li>
                              <li><i class="fa fa-star-of-david"></i></li>
                              <li><i class="fa fa-star-of-david"></i></li>
                              <li class="silver-color"><i class="fa fa-star-of-david"></i></li>
                          </ul>
                      </div>
                      <div class="sp-essential_stuff">
                          <ul>
                              <li>EX Tax: <a href="javascript:void(0)"><span>{{item.product_price}}</span></a></li>
                              <li>Brands <a href="javascript:void(0)">Buxton</a></li>
                              <li>Product Code: <a href="javascript:void(0)">Product 16</a></li>
                              <li>Reward Points: <a href="javascript:void(0)">600</a></li>
                              <li>Availability: <a href="javascript:void(0)">In Stock</a></li>
                          </ul>
                      </div>
                      <div class="product-size_box">
                          <span>Size</span>
                          <select class="myniceselect nice-select">
                              <option value="1">S</option>
                              <option value="2">M</option>
                              <option value="3">L</option>
                              <option value="4">XL</option>
                          </select>
                      </div>
                      <div class="quantity">
                          <label>Quantity</label>
                          <div class="cart-plus-minus">
                              <input class="cart-plus-minus-box" value="1" type="text">
                              <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                              <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                          </div>
                      </div>
                      <div class="qty-btn_area">
                          <ul>
                              <li><a class="qty-cart_btn" href="cart.html">Add To Cart</a></li>
                              <li><a class="qty-wishlist_btn" href="wishlist.html" data-toggle="tooltip" title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a></li>
                              <li><a class="qty-compare_btn" href="compare.html" data-toggle="tooltip" title="Compare This Product"><i class="ion-ios-shuffle-strong"></i></a></li>
                          </ul>
                      </div>
                      <div class="hiraola-tag-line">
                          <h6>Tags:</h6>
                          <a href="javascript:void(0)">Ring</a>,
                          <a href="javascript:void(0)">Necklaces</a>,
                          <a href="javascript:void(0)">Braid</a>
                      </div>
                      <div class="hiraola-social_link">
                          <ul>
                              <li class="facebook">
                                  <a href="https://www.facebook.com/" data-toggle="tooltip" target="_blank" title="Facebook">
                                      <i class="fab fa-facebook"></i>
                                  </a>
                              </li>
                              <li class="twitter">
                                  <a href="https://twitter.com/" data-toggle="tooltip" target="_blank" title="Twitter">
                                      <i class="fab fa-twitter-square"></i>
                                  </a>
                              </li>
                              <li class="youtube">
                                  <a href="https://www.youtube.com/" data-toggle="tooltip" target="_blank" title="Youtube">
                                      <i class="fab fa-youtube"></i>
                                  </a>
                              </li>
                              <li class="google-plus">
                                  <a href="https://www.plus.google.com/discover" data-toggle="tooltip" target="_blank" title="Google Plus">
                                      <i class="fab fa-google-plus"></i>
                                  </a>
                              </li>
                              <li class="instagram">
                                  <a href="https://rss.com/" data-toggle="tooltip" target="_blank" title="Instagram">
                                      <i class="fab fa-instagram"></i>
                                  </a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Hiraola's Single Product Area End Here -->

<!-- Begin Hiraola's Single Product Tab Area -->
<div class="hiraola-product-tab_area-2 sp-product-tab_area">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="sp-product-tab_nav ">
                  <div class="product-tab">
                      <ul class="nav product-menu">
                          <li><a class="active" data-toggle="tab" href="#description"><span>Description</span></a>
                          </li>
                          <li><a data-toggle="tab" href="#specification"><span>Specification</span></a></li>
                          <li><a data-toggle="tab" href="#reviews"><span>Reviews (1)</span></a></li>
                      </ul>
                  </div>
                  <div class="tab-content hiraola-tab_content">
                      <div id="description" class="tab-pane active show" role="tabpanel">
                          <div class="product-description">
                              <ul>
                                  <li>
                                    {{item.product_desc}}
                                  </li>
                                  <li>
                                    {{item.product_content}}
                                  </li>
                                  <li>

                                  </li>
                                  <li>

                                  </li>

                              </ul>
                          </div>
                      </div>
                      <div id="specification" class="tab-pane" role="tabpanel">
                          <table class="table table-bordered specification-inner_stuff">
                              <tbody>
                                  <tr>
                                      <td colspan="2"><strong>Memory</strong></td>
                                  </tr>
                              </tbody>
                              <tbody>
                                  <tr>
                                      <td>test 1</td>
                                      <td>8gb</td>
                                  </tr>
                              </tbody>
                              <tbody>
                                  <tr>
                                      <td colspan="2"><strong>Processor</strong></td>
                                  </tr>
                              </tbody>
                              <tbody>
                                  <tr>
                                      <td>No. of Cores</td>
                                      <td>1</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <div id="reviews" class="tab-pane" role="tabpanel">
                          <div class="tab-pane active" id="tab-review">
                              <form class="form-horizontal" id="form-review">
                                  <div id="review">
                                      <table class="table table-striped table-bordered">
                                          <tbody>
                                              <tr>
                                                  <td style="width: 50%;"><strong>Customer</strong></td>
                                                  <td class="text-right">25/04/2019</td>
                                              </tr>
                                              <tr>
                                                  <td colspan="2">
                                                      <p>Good product! Thank you very much</p>
                                                      <div class="rating-box">
                                                          <ul>
                                                              <li><i class="fa fa-star-of-david"></i></li>
                                                              <li><i class="fa fa-star-of-david"></i></li>
                                                              <li><i class="fa fa-star-of-david"></i></li>
                                                              <li><i class="fa fa-star-of-david"></i></li>
                                                              <li><i class="fa fa-star-of-david"></i></li>
                                                          </ul>
                                                      </div>
                                                  </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                                  <h2>Write a review</h2>
                                  <div class="form-group required">
                                      <div class="col-sm-12 p-0">
                                          <label>Your Email <span class="required">*</span></label>
                                          <input class="review-input" type="email" name="con_email" id="con_email" required>
                                      </div>
                                  </div>
                                  <div class="form-group required second-child">
                                      <div class="col-sm-12 p-0">
                                          <label class="control-label">Share your opinion</label>
                                          <textarea class="review-textarea" name="con_message" id="con_message"></textarea>
                                          <div class="help-block"><span class="text-danger">Note:</span> HTML is not
                                              translated!</div>
                                      </div>
                                  </div>
                                  <div class="form-group last-child required">
                                      <div class="col-sm-12 p-0">
                                          <div class="your-opinion">
                                              <label>Your Rating</label>
                                              <span>
                                              <select class="star-rating">
                                                  <option value="1">1</option>
                                                  <option value="2">2</option>
                                                  <option value="3">3</option>
                                                  <option value="4">4</option>
                                                  <option value="5">5</option>
                                              </select>
                                          </span>
                                          </div>
                                      </div>
                                      <div class="hiraola-btn-ps_right">
                                          <a href="javascript:void(0)" class="hiraola-btn hiraola-btn_dark">Continue</a>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Hiraola's Single Product Tab Area End Here -->

<!-- Begin Hiraola's Product Area Two -->
<div class="hiraola-product_area hiraola-product_area-2 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="hiraola-section_title">
            <h4>Sản Phẩm Tương Tự</h4>
        </div>
      </div>
      <div class="col-lg-12 order-1 order-lg-2">
          <div class="shop-product-wrap grid gridview-4 row">
            <ng-container *ngFor="let related of list_item_related">
              <div class="col-lg-3">
                  <div class="slide-item">
                      <div class="single_product">
                          <div class="product-img">
                              <a>
                                  <img class="primary-img" [routerLink]="['/product/chitiet',related.product_id]" src="assets/images/product/{{related.product_image}}" alt="Hiraola's Product Image">
                                  <!-- <img class="secondary-img" src="assets/images/product/medium-size/1-8.jpg" alt="Hiraola's Product Image"> -->
                              </a>
                              <div class="add-actions">
                                  <ul>
                                      <li><a class="hiraola-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart"><i class="ion-bag"></i></a>
                                      </li>
                                      <li><a class="hiraola-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                              class="ion-ios-shuffle-strong"></i></a>
                                      </li>
                                      <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                              class="ion-eye"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="hiraola-product_content">
                              <div class="product-desc_info">
                                  <h6><a class="product-name" [routerLink]="['/product/chitiet',related.product_id]">{{related.product_name}}</a></h6>
                                  <div class="price-box">
                                      <span class="new-price">{{related.product_price}}</span>
                                  </div>
                                  <div class="additional-add_action">
                                      <ul>
                                          <li><a class="hiraola-add_compare" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                                  class="ion-android-favorite-outline"></i></a>
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="rating-box">
                                      <ul>
                                          <li><i class="fa fa-star-of-david"></i></li>
                                          <li><i class="fa fa-star-of-david"></i></li>
                                          <li><i class="fa fa-star-of-david"></i></li>
                                          <li><i class="fa fa-star-of-david"></i></li>
                                          <li class="silver-color"><i class="fa fa-star-of-david"></i></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="list-slide_item">
                      <div class="single_product">
                          <div class="product-img">
                              <a href="single-product.html">
                                  <img class="primary-img" src="assets/images/product/medium-size/1-9.jpg" alt="Hiraola's Product Image">
                                  <img class="secondary-img" src="assets/images/product/medium-size/1-8.jpg" alt="Hiraola's Product Image">
                              </a>
                          </div>
                          <div class="hiraola-product_content">
                              <div class="product-desc_info">
                                  <h6><a class="product-name" href="single-product.html">Flash Furniture
                                          Alonza Se...</a></h6>
                                  <div class="rating-box">
                                      <ul>
                                          <li><i class="fa fa-star-of-david"></i></li>
                                          <li><i class="fa fa-star-of-david"></i></li>
                                          <li><i class="fa fa-star-of-david"></i></li>
                                          <li><i class="fa fa-star-of-david"></i></li>
                                          <li class="silver-color"><i class="fa fa-star-of-david"></i></li>
                                      </ul>
                                  </div>
                                  <div class="price-box">
                                      <span class="new-price">£90.36</span>
                                  </div>
                                  <div class="product-short_desc">
                                      <p>The effects of gold are subtle, but definitely apparent. ... It was considered that gold possessed an energy that brought warm, soothing vibrations to the body to aid healing, for when the body relaxes and the blood vessels in the cells aren't as constricted, blood can move through the tissue spaces more easily.</p>
                                  </div>
                              </div>
                              <div class="add-actions">
                                  <ul>
                                      <li><a class="hiraola-add_cart" href="cart.html" data-toggle="tooltip" data-placement="top" title="Add To Cart">Add To Cart</a></li>
                                      <li><a class="hiraola-add_compare" href="compare.html" data-toggle="tooltip" data-placement="top" title="Compare This Product"><i
                                              class="ion-ios-shuffle-strong"></i></a></li>
                                      <li class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><a href="javascript:void(0)" data-toggle="tooltip" data-placement="top" title="Quick View"><i
                                              class="ion-eye"></i></a></li>
                                      <li><a class="hiraola-add_compare" href="wishlist.html" data-toggle="tooltip" data-placement="top" title="Add To Wishlist"><i
                                              class="ion-android-favorite-outline"></i></a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </ng-container>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="hiraola-paginatoin-area">
                      <div class="row">
                          <div class="col-lg-6 col-md-6 col-sm-6">
                              <ul class="hiraola-pagination-box">
                                  <li class="active"><a href="javascript:void(0)">1</a></li>
                                  <li><a href="javascript:void(0)">2</a></li>
                                  <li><a href="javascript:void(0)">3</a></li>
                                  <li><a class="Next" href="javascript:void(0)"><i
                                          class="ion-ios-arrow-right"></i></a></li>
                                  <li><a class="Next" href="javascript:void(0)">>|</a></li>
                              </ul>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-6">
                              <div class="product-select-box">
                                  <div class="product-short">
                                      <p>Showing 1 to 12 of 18 (2 Pages)</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
<!-- Hiraola's Product Area Two End Here -->

<!-- Begin Hiraola's Product Area Two -->

<!-- Hiraola's Product Area Two End Here -->
